.container {
    padding-top: 2em;
    ul {
        margin: 2em 0;
        padding: 0;
        li {
            margin-bottom: 1em;
        }
        button {
            background: none;
            border: none;
            cursor: pointer;
        }
    }
}
