@import "../../styles/variables";

.first_nav {
    padding: 5px 2em;
    display: flex;
    background-color: $bg;
    justify-content: space-between;
    align-items: center;

    ul {
        display: flex;
        list-style: none;

        li {
            font-size: 0.8em;
            margin-right: 1em;

            a {
                color: $primary;
            }
        }

        li:last-of-type {
            margin-right: 0;
        }
    }
}

.second_nav {
    padding: 1em 2em;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media screen and (max-width: 1200px) {
        display: block;
    }

    ul {
        display: flex;
        list-style: none;
        margin-right: 2em;
        margin-bottom: 1em;

        li {
            font-size: 1.2em;
            margin-right: 1em;

            a {
                color: $primary;
            }

            @media screen and (max-width: 720px) {
                font-size: 1em;
            }
        }

        li:last-of-type {
            margin-right: 0;
        }
    }
}

.nav {
    display: flex;
    align-items: center;

    @media screen and (max-width: 1200px) {
        display: block;
        margin-top: 2em;
    }
}

.nav_icons {
    display: flex;
    margin-left: 1em;

    @media screen and (max-width: 1200px) {
        margin-top: 1em;
    }
}

.nav_links {
    ul {
        @media screen and (max-width: 1200px) {
            justify-content: flex-start;
            align-items: flex-start;
            margin-left: 0;
        }
    }

}