.container {
    border-top: 1px solid #bbb;
    border-bottom: 1px solid #bbb;
    margin-right: 1em;
    padding: 1em 0;

}

.box {
    display: flex;
    cursor: pointer;
    justify-content: space-between;
    align-items: center;
}